<div class="navbar-collapse collapse" style="background-color:#cccccc; width: 100%">
    <ul class="nav navbar-nav" style=" margin-left:100px;">
        <li style="font-size:22px;">@Html.ActionLink("Collaboration", "Collaboration", "Home")</li>
    </ul>
</div>
<div class="item">
    <div class="col-sm-12">
        <div class="hero-text" style="color:white;">
            <h3>Airmax's Day 2017</h3>
            <p>This is the first collaboration of 5THEWAY with RetroKid to Anniversary 30Year day release the first Sneakers Airmax 1</p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div> 
    </div>
    <img src="~/IMGSlider/xRetrokids.jpg" alt="New York" style="width: 100%; height:575px;">
     
</div>