<link href="~/Content/InformationsStyles.css" rel="stylesheet"/>
@*<link href="~/Content/bootstrap.css" rel="stylesheet"/>*@
<div class="jumbotron">
    <h1>5THEWAY nhãn hiệu thời trang streetwear mới nổi và cửa hàng đầu tiên tại Sài Gòn</h1>
</div>
<div class="container">
    <div class="hero-text">
        <p>
            <b>5THEWAY</b> là một hãng thời trang Urban Streetwear đến từ Sài Gòn. Không đi theo hay bị ảnh hưởng bởi một trường phái nhất định nào,
            cảm hứng thiết kế của hãng xuất phát từ nhu cầu của những người trẻ bình thường – nhu cầu được ăn mặc đẹp và hợp thời trang.
            Có ba yếu tố làm nên thương hiệu của 5THEWAY. Đầu tiên là luôn cập nhật một cách nhanh chóng các xu hướng mới trên thế giới.
            Thứ hai là lượng sản phẩm đa dạng, đủ để đáp ứng mọi nhu cầu mua sắm. Và cuối cùng là sản phẩm chất lượng với một mức giá dễ tiếp cận.
            Ba yếu tố đó được đề ra nhằm hướng đến mục tiêu lớn nhất của 5THEWAY – “Đưa thời trang của giới trẻ Việt Nam hòa vào dòng chảy của thời trang thế giới”.
        </p>
    </div>
    <div class="item col-sm-12 col-md-12">
        <img src="~/IMGSlider/background2.jpg" style="height:auto; width:1140px;" />
    </div>

    <div class="item col-sm-12 col-md-12">
        <img src="~/IMGSlider/woobineonstreet.jpg" style="height:auto; width:1140px; color:#000000;" />
    </div>
    
    <div class="item col-sm-12 col-md-12">
        <img src="~/IMGSlider/xanh.jpg" style="height:auto; width:1140px; color:#000000;" />
    </div>

    <div class="hero-text" style="width:100%; margin-top:20px; position:relative; color:#000000;">
        Sau hơn một năm kể từ khi sản phẩm đầu tiên được ra mắt, 5THEWAY tiến đến cột mốc phát triển tiếp theo với một cửa hàng hoành tráng tọa lạc tại quận 1.
        Sự kiện khai trương cửa hàng, đồng thời giới thiệu BST mới “<b>Kids of the King</b>” diễn ra vào hai ngày 01/08 và 02/08/2016 với sự tham gia biểu diễn của rapper Wowy.
        Song song cùng đó còn là chương trình khuyến mãi 10% off cho tất cả các sản phẩm trong hai ngày khai trương.
    </div>
    <div class="item col-sm-12 col-md-12">
        <img src="~/IMGSlider/1st.jpg" style="height:auto; width:1140px;" />
    </div>
    <div class="item col-sm-12 col-md-12">
        <img src="~/IMGSlider/KOTK.jpg" style="height:auto; width:1140px;" />
    </div>
    <div class="hero-text" style="width:100%; margin-top:20px; position:relative; color:#000000;">
        Cho đến thời điểm hiện tại 5THEWAY đã trỡ thành 1 nhãn hiệu khá nổi trội trong giới trẻ, đồng thời sau hơn 1 năm kể từ ngày cửa hàng đầu tiên khai trương đên nay 5TW đã có thêm 2 chi nhánh.
        1 tại <b>New Playground</b> và 1 hiện đang trong quá trình chuẫn bị khai trương

    </div>
    <div class="item col-sm-12 col-md-12">
        <img src="~/IMGSlider/quotes.jpg" style="height:auto; width:1140px;" />
    </div>
</div>
