<div class="item">
    <div class="col-sm-12">
        <div class="hero-text wrapper" style=" margin-top:200px; color:#000000; @*font-family: 'Open Sans', sans-serif;*@">
            <h1 class="headline">5THEWAY - Outfit Of The Day</h1>
            <h2 class="subheadline"  style="color:#ffffff"> This page suggestion you about outfit for every day or season in the year </h2>
        </div>
    </div>
    <img src="~/IMGSlider/lookbook.jpg" alt="New York" style="width: 100%; height:575px;"> 
</div>

<div class="item" style="margin-top:10px;">
    <img src="~/IMGSlider/gangnamstyle.jpg" alt="New York" style="width: 100%; height:600px;">
    <div class="col-sm-12">
        <div class="hero-text" style=" width:50%; bottom:5px; right:0px; color :#000000">
            <h3>Daddy's Cropped Trouser and Regular Tee</h3>
            <p>This style very interesting when you fit basic Tee tuck into Cropped Trousers from 5THEWAY, this style very smiple but still highlights  </p>
        </div>
    </div>
</div>

<div class="item" style="margin-top:10px;">
    <img src="~/IMGSlider/shortallin.jpg" alt="New York" style="width: 100%; height:600px;">
    <div class="col-sm-12">
        <div class="hero-text" style=" width:100%; bottom:260px; right:0px; color :#ffffff">
            <h3>What's best choice for Summer</h3>
            <p>This style very smiple but you cant ingore it in Summer</p>
        </div>
    </div>
</div>

<div class="item" style="margin-top:10px;">
    <img src="~/IMGSlider/layer.jpg" alt="New York" style="width: 100%; height:600px;">
    <div class="col-sm-12">
        <div class="hero-text" style=" width:100%; bottom:5px; right:0px; color :#ffffff">
            <h3>Layer Style</h3>
            <p>With layer style's fan you cant ignore this, Flannel fit Longline or Longtee will make you look very cool you cant missing it in your closet </p>
        </div>
    </div>
</div>

<div class="item" style="margin-top:10px;">
    <img src="~/IMGSlider/gangnamstyle.jpg" alt="New York" style="width: 100%; height:600px;">
    <div class="col-sm-12">
        <div class="hero-text" style=" width:50%; bottom:5px; right:0px; color :#000000">
            <h3>Daddy's Cropped Trouser and Regular Tee</h3>
            <p>This style very interesting when you fit basic Tee tuck into Cropped Trousers from 5THEWAY, this style very smiple but still highlights  </p>
        </div>
    </div>
</div>