<div class="navbar-collapse collapse" style="background-color:#cccccc; width: 100%">
    <ul class="nav navbar-nav" style="margin-left:350px;">
        <li>@Html.ActionLink("Jeans", "", "Home")</li>
        <li style="margin-left:50px;">@Html.ActionLink("Khaki", " ", "Home")</li>
        <li style="margin-left:50px;">@Html.ActionLink("SweatPants", " ", "Home")</li>
        <li style="margin-left:50px;">@Html.ActionLink("Short", " ", "Home")</li>
    </ul>
</div>