@model _5TW.Models.CollectionViewModel

<div class="navbar-collapse collapse" style="background-color:#cccccc; width: 100%">
    <ul class="nav navbar-nav" style="margin-left:100px;">
        <li style="font-size:22px;">@Html.ActionLink("Collections", "Collections", "Home")</li>
    </ul>
</div>
<div class="item" @*style="background-image:url(/IMGSlider/Collections/perfection.jpg); width: 100%; height:600px;"*@>
    <img src="~/IMGSlider/Collections/perfec.jpg" style="width: 100%; height:600px;">
    @*<h2 style="text-align:left;">Perfection Collection</h2>
    <p>
        This is one of many collection of 5TW 
    </p>
    <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
</div>
<div class="item">
    <img src="~/IMGSlider/Collections/signature.jpg" alt="New York" style="width: 100%; height:550px;">
</div>
<div class="item">
    <img src="~/IMGSlider/Collections/yearone.jpg" alt="New York" style="width: 100%; height:600px;">

</div>
<div class="item">
    <img src="~/IMGSlider/Collections/blacksheep.jpg" alt="New York" style="width: 100%; height:600px;">

</div>